%div.card
  %div.f-block
    = form_tag movie_path(@movie), :method => :put do
      %div.header
        %h1 Edit  Movie
      %div.body.p-0
        = render :partial => 'movie_form'
      %div.footer
        = button_tag(type: "submit", class: "btn btn-primary") do 
          <i class="bi bi-shift"></i> Update Movie Info
        = link_to raw('<i class="bi bi-reply"></i> Cancel'), movie_path(@movie), class: "btn btn-warning"
