%div.card
  %div.header
    %h1 All Movies
  %div.body
    %div.index-filters 
      = link_to raw('<i class="bi bi-funnel"></i> Filters'), movies_filters_path ,class: "btn btn-primary index-filters"
    %div.table-broder
      %table#movies
        %thead
          %tr
            %th id
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
            %th All review
        %tbody
          =render :partial=>'movie', :collection=>@movies

    = link_to raw('<i class="bi bi-plus-circle"></i> Add new movie'), new_movie_path ,class: "btn btn-primary"
=render :partial=>'TMDb'
        