%div.card
  %div.f-block
    = form_tag movies_path, :method => :post do
      %div.header
        %h1 Create New Movie
      %div.body.p-0
        = render :partial => 'movie_form'
      %div.footer
        = button_tag(type: "submit", class: "btn btn-primary") do 
          <i class="bi bi-save"></i> Save changes
        = link_to raw('<i class="bi bi-reply"></i> Cancel'), movies_path , class: "btn btn-warning"